div {
    display: flex;

    h2 {
        background: wheat;
        user-select: none;
    
        span {
            font-size: 0.7rem;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            user-select: none;
        }
    }
}
